h1{
    background-color: aqua;
    /* width: 300px; */
    text-align: center;
    
    
    /* font-weight: bold; */
}

a{
    background-color: aquamarine;
    
    /* font-size: 100px; */
}

/* div{
    background-color: violet;
    font-weight: 200;
} */

/* h2 {

    background-color: yellowgreen;
    width: 50px;
    height: 200px;
}

span{
    background-color: tomato;
    width: 200px;
    height: 200px;
} */