/* h1{
    background-color: aqua;
}

.heading{
    margin: 20px;

}

.mybtn{
    background-color: yellow;
} */

/* 

.di{
    background-color: aqua;
}

.de{
    background-color: yellowgreen;
}

.mydiv{
    background-color: violet;
}

.your{
    background-color: cadetblue;
}

.id1{
    background-color: aquamarine;
}


.id2{
    background-color: red;
}

.id3{
    background-color: blueviolet;
}

.id4{
    background-color: yellow;
}

.id5{
    background-color: tomato;
}

.id6{
    background-color: rebeccapurple;
}

.id7{
    background-color: brown;
}

.id8{
    background-color: salmon;
}

.id9{
    background-color: steelblue;
}


.id10{
    background-color: firebrick;
}

.id11{
    background-color: teal;
}

.id12{
    background-color: royalblue;
} */




.an{
    background-color: Aqua;
        text-decoration: none;
        color: violet;
    font-size: 30px;
}

