
@import url(./style.scss);

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation-name: wer;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

/* @keyframes wer {
    to{
        rotate: 0deg;
    }
    from{
        rotate:360deg
    }
} */
 
@keyframes wer {
    0%{
        background-image: url(./morning.jpg);
    }
    20%{
        background-image: url(./paints.jpg);

    }
    40%{
        background-image: url(./boy\ paint.jpg);

    }
    60%{
        background-image: url(./brushes.jpg);

    }
    80%{
        background-image: url(./eye.jpg);
    }

    100%{
        background-image: url(./night.jpg);

    }
}

.row:hover{
    animation-play-state: paused;
    cursor: pointer;
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);

}























