/* .img{
    
    width: 300px;
    height: 300px;
}

.btn{
    background-color: rgba(1, 1, 1, .5);
    border: 2px solid red;
    padding: 10px;
    color: red;
    cursor: pointer;
   
}

.div{
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(500px);
    
}

.imgd{
    width: 300px;
    height: 300px;
    
}

.imgd:hover .div{
  
    transform: translateY(0);
transition: all 1s ease;
} */

/* 

img{
    width: 300px;
    height: 300px;
}
img:hover{
    transform: translateY(-30px);
    transition: .5s;
    box-shadow: 0px 0px 10px black;
} */

/* 


.div1{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div2{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div3{
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div4{
    
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.container{
    display: flex;
    justify-content: space-evenly;
    animation-name: name;
    animation-duration: 8s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    
}


.container:hover{
    animation-play-state: paused;
}



.div1:hover{
    
    background: violet;
    transform: scale(1.5);
    transition: .5s;
}


.div2:hover{
    
    background: violet;
    transform: scale(1.5);
    transition: .5s;
}


.div3:hover{
    
    background: violet;
    transform: scale(1.5);
    transition: .5s;
}


.div4:hover{
    
    background: violet;
    transform: scale(1.5);
       transition: .5s;
} */

/* .container:hover{
    animation-play-state: paused;
    transform: scale(1.4);
    transition: 1s;
    
.div1{
    background-color: plum;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div2{
    background-color: purple;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div3{
    background-color: olive;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.div4{
    
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
 
} */
/* 
@keyframes name {
    0%{
        transform: translateX(-50px);
    }
    25%{
        transform: translateX(-110px);
    }
    50%{
        transform: translateX(-190px);
    }
    75%{
        transform: translateX(-270px);
    }
    100%{
        transform: translateX(-330px);
    }
} */

/* 
h1{
    color: red;
    visibility: hidden;
}

h1:hover{
    text-decoration: underline;
    text-decoration: underline steelblue;
    text-decoration: underline wavy teal;
    text-decoration: underline dashed;
    text-decoration: underline double;
    transition: 1s;
    color: blue;
    font-size: 2rem;
    
    
    cursor: pointer;
}


h2{
    opacity: .2;
}
 */

/* Navbar Styling */
/* 
body{
    margin: 0;
}
a{
    color: white;
    margin-top: 15px;
    text-decoration: none;
}

input{
    height: 30px;
    margin-top: 10px;
}
button{
    height: 30px;
    margin-top: 10px;
    background-color: orange;
}
.pages{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

nav{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    
}










.count1{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    opacity: 0.5;
}




.count2{
    background-image: url("./images/img4.jpg");
    background-size: cover ;
    width: 100vw;
    height: 100vh;
    background-color: rgb(185, 39, 142);
    opacity: 0.5;
}




.count3{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 255, 76);
    opacity: 0.5;
} */

/* .container{
    display: flex;
    align-self: center;
}




.div1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
    .div1:hover{
        width: 200px;
        height: 200px;
        background-color: rgb(0, 255, 0);
        transform: skew(30deg);
    
    }


.div2{
    width: 200px;
    height: 200px;
    background-color: rgb(212, 0, 255);

}


.div3{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 38, 0);

}

.div4{
    width: 200px;
    height: 200px;
    background-color: rgb(123, 255, 0);

}






 */
/* 
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: thick;
  border-left: thick 5px solid purple;
  animation-name: wer;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes wer {
  0% {
    border-left: 5px solid orange;
    transform: rotate(40deg);
  }
  25% {
    border-left: 5px solid red;
    transform: rotate(90deg);
  }
  50% {
    border-left: 5px solid yellow;
    transform: rotate(150deg);
  }
  75% {
    transform: rotate(250deg);
  }
  100% {
    border-left: 5px solid palevioletred;
    transform: rotate(360deg);
  }
} */
